cache=D:/BIRD-Interact/frontend/.runtime/npm-cache
prefix=D:/BIRD-Interact/frontend/.runtime/npm-global
logs-dir=D:/BIRD-Interact/frontend/.runtime/npm-cache/_logs
update-notifier=false
fund=false
save-exact=true
